*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ""; */
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    height: 100vh;
    width: 100%;
}

.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.formDiv{
    display: flex;
    justify-content: center;
    width: 50%;
}

.imageDiv{
    /* width: ; */
    /* padding: 10px; */
    /* margin-bottom: -2px; */
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
}

.imageDiv img{
    width: 100%;
    height: 100vh;
    object-fit: cover;  
}

.formDiv .formData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 10px;
    /* height: 100vh; */
    width: 60%;
    padding: 2%;
    border: transparent;
    border-radius: 16px;
    /* box-shadow: 10px 10px 15px 10px rgb(167, 133, 179); */
}


.heading{
    margin: -5px;
    font-size: 2.5rem;
}
.sub-heading{
    opacity: 0.7;
    margin-top: 5px;
    font-size: 1.3rem;
}

.formData label{
    margin-top: 10px;
    font-size: 1.2rem;
}

.formData input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.8px solid;
    padding: 5px;
    margin-top: 5px;
}

/* .formData input:{
    border-top: none;
} */

.formData button{
    padding: 5px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.formData .signUp{
    margin-top: 2%;
    font-size: 1.1rem;
}

.submit{
    color: white;
    font-size: 2rem;
    background-color: #a268b7;
    border-radius: 5px;
    border: transparent;
}

.submit:hover{
    cursor: pointer;
    transition: ease-in 0.2s;
    transform: scale(1.01);
}

.google{
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
}

.google:hover{
    cursor: pointer;
    transition: ease-in 0.2s;
    transform: scale(1.01); 
}

#name-error{
    color: red;
    font-size: 0.8rem;
}

#password-error{
    color: red;
    font-size: 0.8rem;
}

#rePassword-error{
    color: red;
    font-size: 0.8rem;
}

#email-error{
    color: red;
    font-size: 0.8rem;
}
